.top-benner{
    background-image: url(./images/banner/banner3.png);
    background-position: center;
    height: 500px;
    
}
.first-text{
       text-align: right;
       margin-right: 80px;
       margin-top: 0px;
       padding-top: 100px;
}
 .title{
    justify-content:flex-end;
    /* color: bisque; */
    font-style: italic; 
font-weight: 700;
font-size: 30px;
line-height: 50px; 
}
main{ 

     margin: 0 auto; 
}
.about{ 
    margin-top: 130px; 
    /* background-color: beige; */
     /* border-radius: 20px;  */
    text-align: right;
    padding: 130px 150px;

}
.list{
    list-style-type: none;
} 
.section-tital{
    margin-top: 130px;
    text-align: center;
    
} 
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{
    font-weight: 700;
    font-size:20px ;
    margin-top:30px ;
}
.skill-title{
    font-weight: 500;
    font-size: 20px;
}
.skill-description{

}



