.top-benner{
    background-image: url(./images/banner/banner3.png);
    background-position: center;
    height: 500px;
    
}
.first-text{
       text-align: right;
       margin-right: 80px;
       margin-top: 0px;
       padding-top: 100px;
}
 .title{
    justify-content:flex-end;
    /* color: bisque; */
    font-style: italic; 
font-weight: 700;
font-size: 30px;
line-height: 50px; 
}
main{ 

     margin: 0 auto; 
}

.about{ 
     text-align: left;
     padding: 130px 150px;
     display: flex;

} 
.details{
    margin-top: 300px;
    margin-left: 100px;
}
 .section-tital{
    margin-top: 130px;
    text-align: center;
    padding: 30px 50px;
    
}  
.skills-container{
     display: flex;
    gap: 24px; 
    border-radius: 5px;
    padding: 20px;

}
.skill{
    border-radius: 5px;
    padding: 30px;
} 
.skill-tital{
    font-size: 20px;
    font-weight: 700px;
    margin-top: 30px;
    margin-bottom:20px ;

}
 




